<div class="container-fluid">
    <div class="card-border-0">
        <br>
        <div class="card-header">
            <b>{{academicLevelId === 0? "Add New Academic Level" : "Edit Existing Academic Level"}}</b>
        </div>
        <div class="card-body">
            <form [formGroup]="form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label for="name">Name</label>
                            </div>
                            <div class="col-md-8">
                                <input id="name" type="text" class="form-control" formControlName="name">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label for="description">Description</label>
                            </div>
                            <div class="col-md-8">
                                <input id="description" type="text" class="form-control" formControlName="description">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label for="isActive">Is Active</label>
                            </div>
                            <div class="col-md-8">
                                <select id="isActive" class="form-control" formControlName="isActive">
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>

                <div class="row">
                    <div class="col text-right">
                        <button type="submit" class="btn btn-success btn-md" (click)="save()">
                            <span class="fa fa-save"></span> Save
                        </button>
                        <button type="button" class="btn btn-danger btn-md ml-1" (click)="cancel()">
                            <span class="fa fa-window-close"></span> Cancle
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>