<div class="container-fluid">
    <div class="card">
        <div class="card-header"><b>Subjects</b></div>
        <div class="card-body">
            <br>
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="min-width:200px;">
                                <button type="button" class="btn btn-success btn-sm" (click)="edit(0)">
                                    <span class="fa fa-plus"></span>
                                </button>
                            </th>
                            <th>Name<i class="fa fa-fw fa-sort" (click)="doSorting('Name')"></i></th>
                            <th>Subject Code<i class="fa fa-fw fa-sort" (click)="doSorting('Code')"></i></th>
                            <th>Is Basket Subject</th>
                            <th>Is Parent Basket Subject</th>
                            <th>Is Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sb of data">
                            <td>
                                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                    <div class="btn-group mr-2" role="group" aria-label="First group">
                                        <button type="button" class="btn btn-warning btn-sm ml-1" (click)="edit(sb.id)">
                                            <span class="fa fa-pencil"></span>
                                        </button>
                                    </div>
                                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                                        <button type="button" class="btn btn-danger btn-sm ml-1"
                                            (click)="delete(sb.id)">
                                            <span class="fa fa-trash"></span>
                                        </button>
                                    </div>

                                </div>
                            </td>
                            <td>{{sb.name}}</td>
                            <td>{{sb.subjectCode}}</td>
                            <td>{{sb.isBasketSubject}}</td>
                            <td>{{sb.isParentBasketSubject}}</td>
                            <td>{{sb.isActive}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <br>
            <div class="pagination">
                <pagination [totalItems]="totalRecordCount" [(ngModel)]="currentPage" [itemsPerPage]="pageSize"
                    (pageChanged)="pageChanged($event)" aria-label="Default pagination">
                </pagination>
            </div>
        </div>
    </div>
</div>