<div class="modal-header">
    <h4 class="modal-title pull-left">Add New Class & Subject Teachers</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
                <div class="form-group row">
                    <div class="col-md-4">
                        <label for="role">Academic Year</label>
                    </div>
                    <div class="col-md-8">
                        <select id="academicYearId" class="form-control" name="academicYearId" [disabled]="type=='edit'"
                            [(ngModel)]="selectedAcademicYearId" (change)="academicYearOnChange()">
                            <option *ngFor="let item of academicYears" [value]="item.id">{{item.name}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <div class="form-group row">
                    <div class="col-md-4">
                        <label for="role">Academic Level</label>
                    </div>
                    <div class="col-md-8">
                        <select id="academicLevelId" class="form-control" name="academicLevelId"
                            [disabled]="type=='edit'" [(ngModel)]="selectedAcademicLevelId"
                            (change)="academicLevelOnChange()">
                            <option *ngFor="let item of academicLevels" [ngValue]="item.id">{{item.name}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <div class="form-group row">
                    <div class="col-md-4">
                        <label for="role">Class Name</label>
                    </div>
                    <div class="col-md-8">
                        <select id="academicYearId" class="form-control" name="academicYearId" [disabled]="type=='edit'"
                            [(ngModel)]="selectedClassNameId" (change)="classOnChange()">
                            <option *ngFor="let item of classes" [ngValue]="item.id">{{item.name}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <div class="form-group row">
                    <div class="col-md-4">
                        <label for="role">Class Teacher</label>
                    </div>
                    <div class="col-md-8">
                        <select id="classTeacher" class="form-control" name="classTeacher"
                            [(ngModel)]="classSubjecTeacher.selectedClassTeacherId" (change)="classTeacherOnChanged()"
                            [ngClass]="{'is-invalid': !classSubjecTeacher.isvalidClassTeacher }">
                            <option *ngFor="let item of availableClassTeachers" [ngValue]="item.id">{{item.name}}
                            </option>
                        </select>
                        <div class="invalid-feedback" *ngIf="!classSubjecTeacher.isvalidClassTeacher">
                            {{classSubjecTeacher.validationMsg}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <div class="form-group row">
                    <div class="col-md-4">
                        <label for="role">Class Category</label>
                    </div>
                    <div class="col-md-8">
                        <select class="form-control" [(ngModel)]="selectedClassCategory"
                            (change)="classCategoryOnChange()">
                            <option *ngFor="let item of classCategories" [ngValue]="item.id">{{item.name}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <div class="form-group row">
                    <div class="col-md-4">
                        <label for="role">Language Stream</label>
                    </div>
                    <div class="col-md-8">
                        <select class="form-control" [(ngModel)]="selectedLanguageStream">
                            <option *ngFor="let item of languageStreams" [ngValue]="item.id">{{item.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <!--             <div class="col-12 col-ms-6 col-lg-6">

                <form class="form-inline">

                    <div class="form-group mx-sm-3 mb-2">
                        <label for="classTeacher" class="mr-2">Class Teacher</label>
                        <select id="classTeacher" class="form-control" style="width: 200px;" name="classTeacher"
                            [disabled]="type=='edit'" [(ngModel)]="selectedClassNameId" (change)="classOnChange()">
                            <option *ngFor="let item of classes" [value]="item.id">{{item.name}}</option>
                        </select>

                    </div>
                    <div class="form-group mb-2">
                        <label for="staticEmail2" class="mr-2">Is Primary</label>



                    </div>
                    <button type="submit" class="btn btn-primary mb-2"> <span class="fa fa-plus"></span></button>
                </form>
            </div> -->
        </div>
    </div>
    <br>
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-8">

                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width: 50%;">Subject</th>
                                <th style="width: 50%;">Subject Teacher</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of classSubjecTeacher?.classSubjectTeachers">

                                <td>
                                    <select class="form-control" [(ngModel)]="item.selectedSubjectId" [disabled]="true">
                                        <option *ngFor="let item of academicLevelSubjects" [ngValue]="item.id">
                                            {{item.name}}</option>
                                    </select>
                                </td>
                                <td *ngIf="item.selectedSubjectId!=22">
                                    <select class="form-control" [ngClass]="{'is-invalid': !item.isvalid }"
                                        [(ngModel)]="item.selectedTeacherId"
                                        (change)="subjectTeacherOnChange(item.selectedSubjectId,item.selectedTeacherId,item)">
                                        <option *ngFor="let item of item.subjectTeachers" [ngValue]="item.id">
                                            {{item.name}}</option>
                                    </select>
                                    <div class="invalid-feedback" *ngIf="!item.isvalid">
                                        {{item.validationMsg}}
                                    </div>
                                </td>
                                <td *ngIf="item.selectedSubjectId==22">
                                    <input type="text" class="form-control"
                                        value="Maths,Science and Health Teachers will be assigned automatically"
                                        disabled>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="save()">Save</button>
</div>