<div class="container-fluid">
    <div class="card">
        <div class="card-header"><b>Class & Subject Teachers</b></div>
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label for="role">Academic Year</label>
                            </div>
                            <div class="col-md-8">
                                <select id="academicYearId" class="form-control" name="academicYearId"
                                    [(ngModel)]="selectedAcademicYearId" (change)="academicYearOnChange()">
                                    <option *ngFor="let item of academicYears" [ngValue]="item.id">{{item.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label for="role">Academic Level</label>
                            </div>
                            <div class="col-md-8">
                                <select id="academicLevelId" class="form-control" name="academicLevelId"
                                    [(ngModel)]="selectedAcademicLevelId" (change)="academicLevelOnChange()">
                                    <option *ngFor="let item of academicLevels" [ngValue]="item.id">{{item.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
            <br>
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="min-width:200px;">
                                <button type="button" class="btn btn-success btn-sm"
                                    (click)="edit(selectedAcademicYearId,selectedAcademicLevelId,0)">
                                    <span class="fa fa-plus"></span>
                                </button>
                            </th>
                            <th>Academic Year<i class="fa fa-fw fa-sort" (click)="doSorting('AcademicYear')"></i></th>
                            <th>Academic Level<i class="fa fa-fw fa-sort" (click)="doSorting('AcademicLevel')"></i></th>
                            <th>Class<i class="fa fa-fw fa-sort" (click)="doSorting('ClassName')"></i></th>
                            <th>Updated On<i class="fa fa-fw fa-sort" (click)="doSorting('UpdatedBy')"></i></th>
                            <th>Updated By<i class="fa fa-fw fa-sort" (click)="doSorting('UpdatedOn')"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data">
                            <td>
                                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                    <div class="btn-group mr-2" role="group" aria-label="First group">
                                        <button type="button" class="btn btn-warning btn-sm ml-1"
                                            (click)="edit(item.academicYearId,item.academicLevelId,item.classNameId)">
                                            <span class="fa fa-pencil"></span>
                                        </button>
                                    </div>
                                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                                        <button type="button" class="btn btn-danger btn-sm ml-1"
                                            (click)="delete(at.id)">
                                            <span class="fa fa-trash"></span>
                                        </button>
                                    </div>

                                </div>
                            </td>
                            <td>{{item.academicYearId}}</td>
                            <td>{{item.academicLevelName}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.updatedOn}}</td>
                            <td>{{item.updatedBy}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <br>
            <div class="pagination">
                <pagination [totalItems]="totalRecordCount" [(ngModel)]="currentPage" [itemsPerPage]="pageSize"
                    (pageChanged)="pageChanged($event)" aria-label="Default pagination">
                </pagination>
            </div>
        </div>
    </div>
</div>